[Unit]
Description=go-aws-mon
[Service]
ExecStartPre=/bin/sh -c "[[ -f /opt/bin/go-aws-mon ]] || wget -O /opt/bin/go-aws-mon https://github.com/a3linux/go-aws-mon/raw/master/bin/go-aws-mon && chmod +x /opt/bin/go-aws-mon"
ExecStart=/opt/bin/go-aws-mon --namespace=System/Linux --mem-used --mem-avail --disk-space-used --disk-space-avail --disk-inode-util --swap-util --disk-path=/,/usr,/media/etcd,/var/lib/docker
ExecStartPost=/bin/sh -c "[[ -f /.monitors_set ]] || wget https://gist.githubusercontent.com/jstop/4676fefc09e8ca5ab305b42df0830a3a/raw/a45e30452314d64129d9c486e44d763699a00395/monitoring.sh -P /opt/bin/ && chmod +x /opt/bin/monitoring.sh"
ExecStartPost=/bin/sh -c "[[ -f /.monitors_set ]] || /opt/bin/monitoring.sh"

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
