[Unit]
Description=go-aws-mon
[Service]
ExecStartPre=/bin/sh -c "[[ -f /opt/bin/go-aws-mon ]] || wget -O /opt/bin/go-aws-mon https://github.com/a3linux/go-aws-mon/raw/master/bin/go-aws-mon && chmod +x /opt/bin/go-aws-mon"
ExecStart=/opt/bin/go-aws-mon --namespace=System/Linux --mem-used --mem-avail --disk-space-used --disk-space-avail --disk-inode-util --swap-util --disk-path=/,/usr,/media/etcd,/var/lib/docker
ExecStartPost=/bin/bash -c "[[ -d /.monitoring1 ]] || (vars=($(curl -s http://169.254.169.254/latest/dynamic/instance-identity/document |/usr/bin/jq '.' | grep -e privateIp -e instanceId -e imageId| cut -f 4 -d ' ' | sed 's/^.//' |sed 's/..$//')) && echo ${vars[0]} > /tmp/var && /usr/bin/docker run alexturek/aws-cli-docker cloudwatch put-metric-alarm --region us-east-1 --alarm-name 'Disk Utilization ${vars[0]}' --alarm-description 'Disk Utilization alarm for ${vars[0]}' --actions-enabled --alarm-actions arn:aws:sns:us-east-1:501188896998:devops --metric-name DiskUtilization --namespace System/Linux --statistic Average --period 60 --evaluation-periods 1 --threshold 90.0 --comparison-operator GreaterThanOrEqualToThreshold --dimensions '[{\"Name\":\"InstanceId\",\"Value\":\"${vars[0]}\"},{\"Name\":\"FileSystem\",\"Value\":\"/\"},{\"Name\":\"ImageId\",\"Value\":\"${vars[2]}\"},{\"Name\":\"InstanceType\",\"Value\":\"${vars[1]}\"}]' && mkdir /.monitoring1 && rm /tmp/creds)"
ExecStartPost=/bin/bash -c "[[ -d /.monitoring2 ]] || (vars=($(curl -s http://169.254.169.254/latest/dynamic/instance-identity/document |/usr/bin/jq '.' | grep -e privateIp -e instanceId -e imageId| cut -f 4 -d ' ' | sed 's/^.//' |sed 's/..$//')) && /usr/bin/docker run alexturek/aws-cli-docker cloudwatch put-metric-alarm --region us-east-1 --alarm-name 'Disk Utilization ${vars[0]}' --alarm-description 'Disk Utilization alarm for ${vars[0]}' --actions-enabled --alarm-actions arn:aws:sns:us-east-1:501188896998:devops --metric-name DiskUtilization --namespace System/Linux --statistic Average --period 60 --evaluation-periods 1 --threshold 90.0 --comparison-operator GreaterThanOrEqualToThreshold --dimensions '[{\"Name\":\"InstanceId\",\"Value\":\"${vars[0]}\"},{\"Name\":\"FileSystem\",\"Value\":\"/usr\"},{\"Name\":\"ImageId\",\"Value\":\"${vars[2]}\"},{\"Name\":\"InstanceType\",\"Value\":\"${vars[1]}\"}]' && mkdir /.monitoring2 && rm /tmp/creds)"
ExecStartPost=/bin/bash -c "[[ -d /.monitoring3 ]] || (vars=($(curl -s http://169.254.169.254/latest/dynamic/instance-identity/document |/usr/bin/jq '.' | grep -e privateIp -e instanceId -e imageId| cut -f 4 -d ' ' | sed 's/^.//' |sed 's/..$//')) && /usr/bin/docker run alexturek/aws-cli-docker cloudwatch put-metric-alarm --region us-east-1 --alarm-name 'Disk Utilization ${vars[0]}' --alarm-description 'Disk Utilization alarm for ${vars[0]}' --actions-enabled --alarm-actions arn:aws:sns:us-east-1:501188896998:devops --metric-name DiskUtilization --namespace System/Linux --statistic Average --period 60 --evaluation-periods 1 --threshold 90.0 --comparison-operator GreaterThanOrEqualToThreshold --dimensions '[{\"Name\":\"InstanceId\",\"Value\":\"${vars[0]}\"},{\"Name\":\"FileSystem\",\"Value\":\"/medea/etcd\"},{\"Name\":\"ImageId\",\"Value\":\"${vars[2]}\"},{\"Name\":\"InstanceType\",\"Value\":\"${vars[1]}\"}]' && mkdir /.monitoring3 && rm /tmp/creds)"
ExecStartPost=/bin/bash -c "[[ -d /.monitoring3 ]] || (vars=($(curl -s http://169.254.169.254/latest/dynamic/instance-identity/document |/usr/bin/jq '.' | grep -e privateIp -e instanceId -e imageId| cut -f 4 -d ' ' | sed 's/^.//' |sed 's/..$//')) && /usr/bin/docker run alexturek/aws-cli-docker cloudwatch put-metric-alarm --region us-east-1 --alarm-name 'Disk Utilization ${vars[0]}' --alarm-description 'Disk Utilization alarm for ${vars[0]}' --actions-enabled --alarm-actions arn:aws:sns:us-east-1:501188896998:devops --metric-name DiskUtilization --namespace System/Linux --statistic Average --period 60 --evaluation-periods 1 --threshold 90.0 --comparison-operator GreaterThanOrEqualToThreshold --dimensions '[{\"Name\":\"InstanceId\",\"Value\":\"${vars[0]}\"},{\"Name\":\"FileSystem\",\"Value\":\"/var/lib/docker\"},{\"Name\":\"ImageId\",\"Value\":\"${vars[2]}\"},{\"Name\":\"InstanceType\",\"Value\":\"${vars[1]}\"}]' && mkdir /.monitoring4 && rm /tmp/creds)"

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
